#moment-cover
  img.my-cover(src='http://lorempixel.com/580/250/nature/4' alt='Cover')
  .my-profile
    span.name name
    img.avatar.z-depth-1(src='http://lorempixel.com/580/250/nature/3' alt='Avatar')
    p.signature.right-align 未来在哪里平凡