#moment-header.navbar-fixed
  nav
    .nav-wrapper
      ul.left
        li
          a(href='#')
            i.mdi-navigation-arrow-back

      span.title 朋友圈

      ul.right
        li
          a(href='#')
            i.mdi-image-photo-camera