#home-chats
  ul.collection
    - var i = 10
    while i > 0
      li.collection-item.avatar
        i.material-icons.circle.blue chat
        p.title Title
        p.content.grey-text newest-content噢信中文字符过长会怎么样呢啊啊
        .secondary-content.grey-text
          //- i.material-icons grade
          span time
      - i--