#home-me
  .home-me-profile.collection
    a.collection-item.avatar(href='#')
      i.material-icons.left.circle face
      span.title Max
      p.content ID:Max_1994_
      i.secondary-content.material-icons code

  .home-me-post.collection
    a.collection-item(href='#') 我的相册
      i.material-icons.left image
    a.collection-item(href='#') 我的收藏
      i.material-icons.left favorite

  .home-me-location.collection
    a.collection-item(href='#') 表情
      i.material-icons.left tag_faces

  .home-me-game.collection
    a.collection-item(href='#') 设置
      i.material-icons.left settings
