.home-nav
  background-color: white
  nav
    bottom: 0
  ul
    display: flex
    justify-content: space-between
    height: 100%
    li
      height: 100% !important
      background-color: white !important
      a
        font-size: 12px !important
        line-height: 700%
        color: #9e9e9e !important
        &.active
          color: #03a9f4 !important
        i
          transform: translateY(-280%)
          margin: 0 auto

    .indicator
      display: none
