.home-nav.navbar-fixed
  nav
    .nav-wrapper
      ul.tabs
        li.home-chats.tab
          a(href='#home-chats') 聊天
            i.material-icons chat_bubble
        li.home-contacts.tab
          a(href='#home-contacts') 通讯录
            i.material-icons people_outline
        li.home-discovery.tab
          a(href='#home-discovery') 发现
            i.material-icons explore_outline
        li.home-me.tab
          a(href='#home-me') 我
            i.material-icons person_outline
