#home-nav.navbar-fixed
  nav
    .nav-wrapper
      .tabs
        a(href='#').tab.chats.active
          i.material-icons chat_bubble
          span 聊天
        a(href='#').tab.contacts
          i.material-icons people
          span 通讯录
        a(href='#').tab.discovery
          i.material-icons explore
          span 发现
        a(href='#').tab.me
          i.material-icons person
          span 我
