#chat-voice
  .chat-voice.center
    a.btn-floating(href='#')
      i.material-icons keyboard_voice
  .chat-keyboard.center
    a.btn-floating(href='#')
      i.material-icons keyboard
  .hold-to-talk.center 长按 说话