#home-discovery
  .home-discovery-moment.collection
    a.collection-item(href='#') 朋友圈
      i.material-icons.left camera

  .home-discovery-scan.collection
    a.collection-item(href='#') 扫一扫
      i.material-icons.left filter_center_focus

  .home-discovery-location.collection
    a.collection-item(href='#') 附近的人
      i.material-icons.left place
      
    a.collection-item(href='#') 随缘相遇
      i.material-icons.left wc

  .home-discovery-game.collection
    a.collection-item(href='#') 游戏
      i.material-icons.left games
