doctype html
html
  head
    title ohChat

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/materialize/css/materialize.css')
    link(rel='stylesheet' type='text/css' href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/material-icons.css')
    link(rel='stylesheet' type='text/css' href='/layout/layout.css')

    script(type='text/javascript' src='/javascripts/jquery-2.1.3.min.js')
    script(type='text/javascript' src='/materialize/js/bin/materialize.min.js')

    block link
    block script

  body
    block header
    block content
    block footer
    
