#chat-room.collection
  -var i = 10
  while i > 0
    .message.collection-item.avatar
      i.material-icons.circle face
      span.title QYY
      p 你好啊！hello.
    .message.collection-item.avatar.myself
      i.material-icons.circle face
      img.avatar(src='')
      p.light-blue.white-text 你好哈&#128512 ... 马休斯，从世界的防御力量，一个精英狙击手，是被困在敌人的领土，他的技能是考验他试图抵抗一整个舰队的蓝色士兵，拼命地擦着存在的所有人类。但是当一个美丽的蓝色女人桑特胡梅亚由她自己种，凯尔必须自己的生活和一个非常的人他要杀死生命之间的选择 ..
    - i--