#home-header.navbar-fixed
  nav
    .nav-wrapper
      a.home-title(href='#') OhChat
      ul.right
        li
          a(href='#')
            i.mdi-action-search.small
        li
          a.dropdown-button(href='#' data-activates='nav-dropdown')
            i.mdi-content-add.small


  ul#nav-dropdown.dropdown-content
    li
      a(href='#') 发起群聊
        i.mdi-social-group-add.left
    li.divider
    li
      a(href='#') 添加朋友
        i.mdi-social-person-add.left
    li.divider
    li
      a(href='#') 扫一扫
        i.mdi-action-settings-overscan.left
    li.divider
    li
      a(href='#') 帮助与反馈
        i.mdi-communication-email.left