#moment-post
  .collection
    - var i = 10
    while i > 0
      li.collection-item.avatar
        i.material-icons.circle face
        span.title Name
        p.post-text 分享生活haha 马休斯，从世界的防御力量，一个精英狙击手，是被困在敌人的领土，他的技能是考验他试图抵抗一整个舰队的蓝色士兵，拼命地擦着存在的所有人类。但是当一个美丽的蓝色女人桑特胡梅亚由她自己种，凯尔必须自己的生活和一个非常的人他要杀死生命之间的选择 ..
        .post-images.one-to-three.one
          .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/1")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/2")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/3")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/4")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/5")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/6")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/7")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/8")')
          //- .materialboxed(style='background-image: url("http://lorempixel.com/580/250/nature/9")')
        .time-and-more
          span.time 5小时前
          i.mdi-notification-more.right.blue-grey-text
          nav.like-and-comment
            ul.nav-wrapper
              li
                a 点赞
                  i.material-icons.left favorite_border
              li.divider
              li
                a 评论
                  i.material-icons.left comment
        .likes-and-comments.grey.lighten-3
          .likes.light-blue-text
            i.material-icons.left favorite_border
            p Max, Alice, Bob
          .comments
            ul
              li
                p Max: Awesome!
              li
                p Alice@Max: You are funny :D


      - i--
