#chat-more
  .chat-more.center
    a.btn-floating(href='#')
      i.material-icons add

.chat-more-slider.slider.fixed-action-btn
  ul.slides
    li.slide
      button.center.btn-floating
        i.material-icons.red image
        p 图片
      button.center.btn-floating
        i.material-icons.blue videocam
        p 小视频
      button.center.btn-floating
        i.material-icons.lime tag_faces
        p 免费表情
      button.center.btn-floating
        i.material-icons.black phone_in_talk
        p 视频聊天
      button.center.btn-floating
        i.material-icons.cyan attach_file
        p 文件
      button.center.btn-floating
        i.material-icons.pink favorite
        p 我的收藏
      button.center.btn-floating
        i.material-icons.purple place
        p 位置
      button.center.btn-floating
        i.material-icons.green person
        p 名片
    li.slide
      button.center.btn-floating
        i.material-icons.deep-orange attach_money
        p 红包
      button.center.btn-floating
        i.material-icons.blue-grey speaker
        p 实时对讲机